{
    "dns": {
        "interface": "127.0.0.1",
        "port": 5000,
        "zone": "redis-dns.local"
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "logs": {
        "level": "warning"
    }
}
